:root{
    --color1: #05b1b1;
    --color2: #52339a;
}

header,section,footer{
    padding: 100px 0;
}
header{
    padding: 200px 0;
}
header,footer{
    background: url(../img/pattern.png),var(--color1);
    background: url(../img/pattern.png),-moz-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: url(../img/pattern.png),-webkit-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: url(../img/pattern.png),linear-gradient(to right,  var(--color1) 0%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
    background-size: contain;
}
.play{
    background-color: var(--color1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
}
.play:hover{
    background-color: var(--color2);
}
.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}
.btn__header{
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2) ;
    border-radius: 10px;
}
.btn__header:hover{
    background-color: var(--color1);
    color: var(--bs-white);
}
.color1{
    color: var(--color1);
}
.color2{
    color: var(--color2);
}
.bg1{
    background-color: var(--color1);
}
.bg22{
    background-color: var(--color2);
}

 /*Section About*/
.about, .accordion{
    background-color: #eee;

}
.about i{
    font-size: 25px;
    color: var(--color2);
}
.about__circle{
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}

/*For Whom*/
.forwhom h5{
    padding: 50px;
    border: 3px solid var(--color1);
}